@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&family=Sora:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-nav{
    width: 70px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
}
.nav-menu-items{
    color: orange;
    text-decoration: none;
    font-family: 'Sora', sans-serif;
    padding: 27px 10px;
    transition: 0.4s;
}

.nav-menu-items:hover{
    color: rgb(156, 102, 0);
    background-color: rgb(253, 215, 143);
}


.nav-search-box{
    border-radius: 40px;
    border: 1px solid orange;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.input-nav{
    margin: 0px 10px;
    font-size: 14px;
    width: 300px;
    outline: none;
    border: none;
}

.lupa-nav{
    opacity: 30%;
    width: 25px;
    height: 25px;
}

.intro{
    background-image: url(img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: top;
}
/*
.intro-logo-box{
    margin-top: 10px;
    background-image: url(img/logo-full.png);
    background-repeat: none;
    background-size: cover;

    width: 370px;
    height: 156px;
}
*/

.intro-logo-box{
}

.intro-img{
    margin: 10px 0 0 0;
    width: 340px;
}
