@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&family=Sora:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-nav{
    width: 70px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
}
.nav-menu-items{
    color: orange;
    text-decoration: none;
    font-family: 'Sora', sans-serif;
    padding: 27px 10px;
    transition: 0.4s;
}

.nav-menu-items:hover{
    color: rgb(156, 102, 0);
    background-color: rgb(253, 215, 143);
}


.nav-search-box{
    border-radius: 40px;
    border: 1px solid orange;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.input-nav{
    margin: 0px 10px;
    font-size: 14px;
    width: 300px;
    outline: none;
    border: none;
}

.lupa-nav{
    opacity: 30%;
    width: 25px;
    height: 25px;
}

.nav-menu.select select{
    display: none;
}

.select-selected {
    background-color: rgb(253, 215, 143);
}

.intro{
    background-image: url(img/wallpaper/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: top;
}
/*
.intro-logo-box{
    margin-top: 10px;
    background-image: url(img/logo-full.png);
    background-repeat: none;
    background-size: cover;

    width: 370px;
    height: 156px;
}
*/


.intro-img{
    margin: 10px 0 0 0;
    width: 340px;
}

.main-container{
    display: flex;
    justify-content: center;
}

.main-viagens{
    background-color: rgb(255, 255, 255);
    border-radius: 40px 40px 0px 0px;
    margin: -235px;
}
.main-viagens-title{
    margin: 50px 0px 0px 50px;
    color: rgb(150, 98, 1);
    font-weight: normal;
    font-family: 'Sora', sans-serif;
}

.main-viagens-grid{
    padding: 50px;
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: space-around;

}

.main-viagens-card{
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.main-viagens-card:hover{
    transform: scale(1.05);
}

.main-viagens-card-img{
    border-radius: 10px 10px 0px 0px;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-viagens-p{
    text-align: center;
    width: 250px;
    padding: 10px 0px;
    font-family: 'Sora', sans-serif;
    color: orange;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    transition: 0.3s;
}



.main-viagens-card:hover > .main-viagens-p{
    color: rgb(156, 102, 0);
    background-color: rgb(255, 222, 161);
}

.extremo-oriente{
    background-image: url(img/cards-img/piscina-natural-seixas.jpg);
}

.picaozinho{
    background-image: url(img/cards-img/picaozinho.jpg);
}

.areia-vermelha{
    background-image: url(img/cards-img/ilha-areia-vermelha.webp);
}

.conde1{
    background-image: url(img/cards-img/praia-litoral-sul-2.jpg);
}

.conde2{
    background-image: url(img/cards-img/praia-litoral-sul.jpg);
}

.tour-jampa{
    background-image: url(img/cards-img/farol-cabo-branco.jpg);
}

@media(max-width:970px){
    .nav-menu{
        display: none;
    }
    .nav-search-box{
        display: none;
    }
    .main-viagens-grid{
        grid-template-columns: auto auto;
    }
}