@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&family=Sora:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.nav {
    border-bottom: 1px solid #b1b1b1;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-nav {
    width: 70px;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
}


.nav-menu-items {
    position: relative;
    color: orange;
    text-decoration: none;
    font-family: 'Sora', sans-serif;
    margin: 27px 10px;

}

.nav-menu-items::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: rgb(255, 208, 122);
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.3s ease-in-out;
}

.nav-menu-items:hover::after {
    width: 100%;
}

.nav-search-box {
    border-radius: 40px;
    border: 1px solid orange;
    height: 35px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.input-nav {
    margin: 0px 10px;
    font-size: 14px;
    max-width: 300px;
    outline: none;
    border: none;
}

.lupa-nav {
    opacity: 30%;
    width: 25px;
    height: 25px;
}

.intro {
    background-image: url(img/wallpaper/intro-bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-img {
    margin: 10px 0 0 0;
    width: 340px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.title {
    margin: 40px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
}

.color-light {
    color: orange;
}

.color-dark {
    color: #48191B;
}

.bg-color-dark {
    background-color: #48191B;
}

.card-box {
    margin-bottom: 60px;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.card-img {
    width: 100%;
    height: 100%;
    width: 200px;
    height: 300px;

    object-fit: cover;
    object-position: center;

    transition: all 0.3s ease-in-out;
}

.card {
    overflow: hidden;
    border-radius: 7px 7px 7px 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;

}

.card p {
    max-width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 7px 7px;
    border: 1px solid #d1d1d1;
    text-align: center;
    padding: 25px 0px;
    font-size: 1.2em;
    font-family: 'Montserrat';
    color: orange;
    transition: all 0.3s;
}

.card:hover img,
.card:hover p {
    transform: scale(1.1);

}

.card:hover p {
    background-color: rgb(253, 215, 143);
    color: rgb(100, 65, 0);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex img {
    max-width: 300px;
    margin-bottom: 40px;
}

.flex-p {
    max-width: 670px;
    margin: 0px 30px;
    font-family: 'Sora';
    font-size: 1.2em;
}


.back-to-top {
    text-decoration: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: white;
    width: 2.5rem;
    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    color: black;
    transform: rotate(-90deg);
    border: 0.1rem solid #ccc;
}

.overflow {
    overflow: hidden;
}

.img {

    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 400px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;

}

.img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    margin: 0px 40px;
    margin-bottom: 50px;
}

@media(max-width:850px) {
    .nav-menu {
        display: none;
    }

    .nav-search-box {
        display: none;
    }

    .main-viagens-grid {
        grid-template-columns: auto auto;
    }
}

@media(max-width:700px) {
    .flex {
        flex-direction: column;
    }

    .flex img {
        margin: 30px 0px;
        width: 200px;
    }
}

.menu-mobile {
    display: none;
}

.flex{
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    
}

.whatsapp, .email{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    gap: 20px;
}

.whatss, .mail{
    display: flex;
    align-items: center;
}
svg{
    margin: 20px;
}

.form{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(122, 34, 10);
    display: flex;
    flex-direction: column;

    max-width: 600px;
}

.label-email{
    outline: none;
    font-size: 1.1em;
}
.input-email{
    border: none;
    outline: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn{
    padding: 10px;
    font-weight: bold;
    color: rgb(187, 121, 0);
    font-size: 1.1em;
    background-color: rgb(253, 208, 124);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: rgb(187, 121, 0);
    color: rgb(253, 208, 124);
}

.link-whats{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

@media (max-width:940px){
    .flex{
        display: block;
        flex-direction: column;
        
    }
    .whatss{
        margin-bottom: 50px;
    }

}

.contato{
    color: orange;
    font-family: 'Sora';
}